h3
{
    color: #b41f50;
}

h4
{
    color: #b41f50;
}

.tab-content table.dataTable
{
    width: 99.5%;
}

.brand img
{
    /* let the transparent bits of the logo overflow */
    margin-top: -5px;
    margin-bottom: -5px;
    height: 40px;
}

a
{
    color: #d13863;
}

.navbar .nav > li > a {
    color: #fff;
    text-shadow: 0 1px 0 #555;
    padding: 15px;
}

.navbar .nav > li > a:focus {
    color: #fff;
    text-shadow: 0 1px 0 #555;
    text-decoration: underline;
}

.navbar .nav > li > a:hover {
    color: #fff;
    /*background-color: #1e7580;*/
    background-image: linear-gradient(to bottom, #d13864, #b41f49);
}

.navbar .nav > .active > a
{
/*    color: #efefef;*/
    color: black;
    text-shadow: 0 1px 0 #ddd;
    /*background-color: #e66014;*/
    background-image: linear-gradient(to bottom, #C89FA3, #DBB3B1);
}

.navbar .nav > .active > a:hover
{
/*    color: #efefef;*/
    color: black;
    text-shadow: none;
    /*background-color: #e66014;*/
    background-image: linear-gradient(to bottom, #b41f51, #C89FA3);
}

div.navbar-inner {
    background-color: #47a6b2;
    background-image: linear-gradient(to bottom, #f195af, #d13863);
}

p.colab
{
    font-size: 32pt;
    color: gray;
    font-weight: bold;
}

pre.citation
{
    display: inline-block;
}

.colab img {
    height: 50pt;
    margin-right: 10px;
}

#home-pnrr-logo {
    height: 45pt;
}

#home-eu-logo {
    height: 45pt;
}

#home-mur-logo {
    height: 40pt;
}

#home-dfg-logo
{
    height: 18pt;
}
#home-eva-logo
{
    height: 58pt;
}
#home-valency-logo
{
    height: 64pt;
}
#home-valpal-logo
{
    height: 72pt;
}

.language-details th
{
    text-align: left;
    padding-right: 1ex;
}

.well hr
{
    border-top: 1px solid #e3e3e3;
}

p.toplink
{
    text-align: right;
    margin: 0;
}
#database-page
{
    width: 120ex;
}
#database-toc
{
    float: right;
    width: 35ex;
}
#database-intro
{
    width: 70ex;
}
#database-contribs
{
    list-style-type: lower-roman;
}
div.database-infobox
{
    width: 70ex;
}
ol.datatable-ex
{
    list-style-type: lower-alpha;
}
#database-alternations td
{
    padding-right: 1ex;
}
#verb-infobox
{
    float: right;
    width: 40ex;
}

table.example-list td
{
    vertical-align: baseline;
}
table.example-list td:first-child
{
    text-align: right;
    padding-left: 1ex;
    padding-right: 1ex;
}

/*
.link-to-self a {
    padding: .5ex;
    border-style: solid;
    border-width: 1px;
    border-radius: .5ex;
    color: #efefef;
    text-shadow: 0 1px 0 #555;
    background-image: linear-gradient(to bottom, #f195af, #d13863);
}

.link-to-self a:hover {
    color: #fff;
    background-image: linear-gradient(to bottom, #d13864, #b41f49);
}
*/

table.altval-codingframe th {
    text-align: left;
}
span.altval-codingframe-arrow {
    padding: 1ex;
    color: gray;
    font-size: 150%;
    font-weight: bold;
}

#terms tr > td:first-child
{
    white-space: nowrap;
}
